body{
    /* background: rgb(34,193,195); */
    background: linear-gradient(0deg, rgb(82, 195, 34) 0%, rgb(151, 153, 32) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 

    background: linear-gradient(90deg, 
    rgb(97, 54, 251) ,
    rgba(253, 29, 141, 0.628),
    rgb(239, 227, 13));
}


#form{
    width:400px;
    margin:9vh auto 9vh auto;
    /* background-color: whitesmoke; */
    border-radius: 15px;
    padding:30px;
    /* box-shadow: 10px 10px 20px rgb(97, 35, 35),
    -10px -10px -20px red; */
}

h1{
    text-align: center;
    color:#792099;
}

#form button{
    background-color: #792099;
    color:white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}
.input-group .success{
    color:#0cc477;
    font-size:16px;
    margin-top: 5px;
}


.input-group.success input{
    border-width: 5px;
    border-color: #0cc477;
    
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}