h4{
    text-align: center;
}
#aa{
    border-collapse: collapse;
   margin: auto;
   width: 400px;
   height: 200px;
}

#a1,#b1,#c1{
    border: 1px solid white;
    height: 80px;
}
img{
        height: 80px;
        width: 80px;
        border-radius: 45px;
}
#a1{
    background-color: #FF671F;
}
#b1{
    background-color:white ;
}
#c1{
    background-color: #046A38;


}