
     /* tag selector */
    h3{
        background-color: aquamarine;
        color: rgb(146, 92, 27);
        text-align: center;
    }
        /* id selector */
    #p1{
        background-color: blueviolet;
        text-align: center;
        color: brown;
    }

         /* class selector */
   .c1{
        background-color: rgb(218, 95, 227);
        text-align: center;
        color: rgb(79, 5, 5);
        } 

        /* Multiple selector */
    .c1,.b1,#b{
        background-color: rgb(95, 227, 121);
        text-align: center;
        color: rgb(5, 77, 79);
        } 

        /* universal selector */
  
    *{
        background-color: deeppink;
    }
 
       /* Child selector */
    /* div is parent form is child  */

    div form{
        background-color: darkslategrey;
    }

