 /* Decoration */

/* p{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;

    color: rgb(99, 63, 95);

    text-transform: uppercase;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: inherit;
    text-transform: initial;
    text-transform: unset;

    line-height: 20px;

    word-spacing: 5px;

    text-decoration: underline;
    text-decoration: solid;

    text-shadow: 2px 0px 20px rgb(178, 23, 178);

    text-indent: 50px;   

    text-align: left;
    text-align: right;
    text-align: justify;
}

p::first-letter{
    font-size: 50px;
} */

/* Borders */

h1{
    text-align: center;
}


body,h1,p{

    border-width: 2px;
    border-style: solid;
    border-color: black;
            /* or */
    border: 1px solid black;
}
*{
    margin: 0px;
    padding:0px;
}

p{
    margin: 50px;
         /* or */
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 55px;
        /* or */
    margin: 10px 20px 30px 40px;
         /* top right bottom left */
    margin: 10px  30px 40px;
         /* top,right&left,bottom */
    margin: 10px 20px ;
         /* top  bottom */
    margin: 50px ;
         /* all */

/* padding -->gap between border and text */
    /* padding:20px ;  
    /* or */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 55px;
        /* or */
    padding: 10px 20px 30px 40px;
         /* top right bottom left */
    padding: 10px  30px 40px;
         /* top,right&left,bottom */
    padding: 10px 20px ;
         /* top  bottom */
    padding: 10px ;
           /* all */ 

    margin: 20px auto;
    padding: 30px;
    text-align: justify;
    width: 300px;
    height: 200px;
    overflow: scroll;

    border-radius: 20px;
    border-top-left-radius:50px ;
    border-bottom-right-radius: 50px;

    /* 31/1/24 */

    box-shadow: 10px 10px 30px red;
    /* bottom and right side only - outline */
    box-shadow: -10px -10px 30px rgb(209, 23, 109);
    /* top and left hand side only -outline */
    box-shadow: -10px -10px 10px rgba(165, 36, 157, 0.905),10px 10px 10px yellow;
    /* whole box -outline   */
    box-shadow: inset -10px -10px 10px rgba(165, 36, 157, 0.905),
                inset 10px 10px 10px yellow;
                /* whole box - inside */


    
}