/* Transition */
.transition{
    width: 100px;
    height: 100px;
    background-color: aqua; 
    margin: 150px auto;   
    transition-duration: 2s;
    /* transition-property: background-color;
    transition-delay: 3s; */
    transition-timing-function: ease-in;
    /* low to fast -- in to out*/
    transition-timing-function: ease-out;
    /* fast to low -- in to out */
    transition-timing-function: ease-in-out;
    /* low - fast - low -- in to mid to out*/

    /* transition: 3s 2s ease-in-out; */
}
.transition:hover{
    background-color: red;
    /* width: 300px; */
    transform: rotate(360deg);

    transform: translate(100px);
    /* left to right - default - x axis */
    transform: translate(-100px);
    /* right to left - -x axis */
    transform: translate(100px,100px);
}

/* ---Transition--- */

/* animation */

.animation{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: box;
    animation-duration: 8s;
    border-radius: 50%;
    animation-fill-mode: forwards;
    animation-iteration-count: 10;
    position: relative;
}
/* 
@keyframes box {

    100%{
        width:150px;
        height: 150px;
        background-color: rgb(25, 39, 168);
        border-radius: 50%;
        top: 300px;
        left: 600px;
    }
    50%{
        width:100px;
        height: 100px;
        background-color: red;
        border-radius: 30%;
        top: 200px;
        left: 500px;

    }
    0%{
        width:50px;
        height:50px;
        background-color: rgb(220, 232, 10);
        border-radius: 10%;
        top: 0px;
        left: 0px;
    }
} */
/* animation */

/* Boot strap */
.btn-secondary{
}
#a{
    background-color: aquamarine;
}

    

    
