table,tr,td{
    border: 1px solid black;
    margin: 20px auto;
    border-collapse: collapse;
}
td{
    width: 55px;
    height: 55px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd)
{
    background-color: rgb(19, 7, 7);
    color: white;
    text-align: center;
    font-size: 20px;
}
