.para1{
    background-color: bisque;
    flex: 1;
    order: 2;
}

.para2{
    background-color: rgb(143, 95, 36);
    flex: 1;
    order: 3;
}

.para3{
    background-color: rgb(85, 140, 70);
    flex: 1;
    order: 1;
}

.container{
    display: flex;
    flex-direction: column;
}

p{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.contain{
    background-color: aqua;
    display: flex;
    height: 500px;
    justify-content: center;
    /* justify content is like x axis  */
    /* basically justify content is always on.defaultly it is potitioned in start */
    justify-content: end;

    align-items: center;
    /* align items is like y axis */
    /* align-items: end; */

    /* 4 box ahyum thani thaniya pirikkanumnaa justify content space between  */
    justify-content: space-between;
    justify-content: space-around;
    /* margin kitta space kedaikkum */

    justify-content: space-evenly;
    /* same space in all box */

    flex-wrap: wrap;
    /*  determines the main and cross axes of your flex items*/
}
.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 2px solid white;
}

.box2{
    flex-grow: 1;
    flex-shrink:1 ;
}
@media(min-width:700px){
    .container{
        flex-direction: row;
    }
    .container p{
        background-color: antiquewhite;
    }
}