
 .gradient{ 
    width: 200px;
    height: 200px;
    margin: auto;
    /* normal  */
    background-color: aqua;
    /* gradient */
    background: linear-gradient(to top left, rgb(229, 229, 32),rgb(12, 12, 214));
    background:linear-gradient(to right , red 20%,black 80%);
     /* radial gradient - round shape  */ 
     background: radial-gradient( yellow,red);
 } 

html{
    font-size: 20px;
    /* default px =16px 
        16px is equal to 1 em ==> 16px=1 em
    */
}

div{
    font-size: 16px;
}

.em-value{
    background-color: aqua;
    font-size: 1.5em;

    /* em relate to parent class.that means  */
}
.rem-value{
    background-color:rgb(182, 34, 150);
    font-size: 2rem;

    /* it takes the value from that route parent.that means it takes the value from main html  */
}

.viewport_width{
    width: 50vw;
    height: 50vw;
    border: 2px solid rgb(12, 1, 1);

}

