.container div{
    background-color: rgb(124, 194, 220);
}

.container{
     /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* fr-fraction */

    grid-template-columns: repeat(5,1fr);
    /* repeat(col count, fraction size) */

    grid-template-columns: minmax(300px,1fr)1fr 1fr;
    /* first row 800px kku vachuttu meethi irukka size ah equala pirichi kudukkum */

    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    /* ipdi kuduthaa screen size kku thaguntha mathiri maarum */

    grid-template-columns: 1fr 5fr 1fr;
    /* separate 3 col - with above fraction size */

    grid-template-rows: 1fr 5fr ;
    /* separate row - with above fraction size */

    column-gap: 10px;
    row-gap: 10px;
        /* or */
    gap: 10px;

}

.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.box{
    background-color: rgb(55, 192, 47);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    grid-column: span 3;
}
.box2{
    grid-row: span 4;
}

.layout div{
border: 2px solid black ;
background-color: aqua;
font-size: 24px;
display:flex ;
justify-content: center;
align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;

    grid-template-areas:"h h h h h" "sb1 m m m sb2" "f f f f f ";
}

.header{
    grid-area: h;
}

.sidebar_1{
    grid-area: sb1;
}

.sidebar_2{
    grid-area: sb2;
}


.main{
    grid-area: m;
}

.footer{
    grid-area: f;
}