a{
    text-decoration: none;
}

a:link{
    color: aqua;
}

a:visited{
    color: rgb(81, 211, 81);
}

a:hover{
    font-size: 24px;
}

a:focus{
    color: blueviolet;
}

a:active{
    color: brown;
}