li{
    /* display: inline; */
     /* list-style-type: disc;  */

    list-style-position: inside;
}
#position{
    list-style: square inside;
}
#tamim{
     visibility: hidden;
     display: none;
}
