.box1{
    width: 130px;
    height: 130px;
    background-color: brown;
    position:relative;
    /* static  */

    /* left: 50%;
    right: 20px; */
    /* offset value */
}
.box2{
    width: 50px;
    height: 50px;
    background-color: rgb(132, 129, 234);
    position: absolute;
    /* absolute nu kudutha athoda parent class non static ah irukkanum illana parent class kku mela edhum non static class ah pathuty anga irunthu nagarum */
    
    /* top: 100px; */
    /* left: 80px; */
    position: sticky;
    top: 0px;
    left: 40%;
    bottom: 0px;

}
#para{

}