*{
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
body{
    height:100vh;
    Background: #be9bdf;
    display:grid;
}
.container{
    width: 100%;
    
    height: 100%;

    display: flex;
}
.calculator{
    background: #f06cf4;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.219);
    margin:auto;

    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height:60px;
    border-radius: 10px;
    font-family: Nunito;
    font-weight: 700;
    font-size:1.7em;
    color: white;
    cursor: pointer;
    margin: 10px;

}
.calculator form input.NumpadBtns{
    background: #012a4a;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 2;
    font-size: 45px;
    box-shadow: none;
    padding:20px;
    box-sizing: border-box;
    background: #218380; 
    box-shadow: 0 0 10px 3px #00000033;
    height:80px;
    color: white;
}

form input.equal{
width: 145px;
background: #005f08
}
form input.ac,form input.del{
    background: #5f0000
}

.symbols{
    background-color: #edae49;
}
.special{
    background: #248277;
}

.calculator form input:hover {
    box-shadow: 0px 0px 5px 3px #00000025;
}