*{
    border-collapse: collapse;

}
#coin{
    width: 40px;;
    height: 4%;;
    text-align:justify;
}
#coins{
    width: 40px;;
    height: 40px;;
}

#d{
    text-align: center;
    width: 50px;
    height: 50px;
    padding:auto;
}


#a{
    width: 50px;
}
.black{
    
    background-color: rgb(80, 74, 74);
}
.white{
    background-color:white;

}