*{
    background-color: rgb(234, 242, 249);
    text-decoration: none;
}
h1{
    color: hsl(240, 100%, 50%);
    /* text-align: center; */
    margin-top: 10%;
    font-size: 50px;
     margin-left:30px; */
}
.p{
    font-size: 15px;
    /* margin-left:80px; */
}
.div{
    border-radius: 8px;
}

a{
   margin:auto;
    text-align: center;

}
form{
    border: 1px solid rgb(81, 80, 80);
    border-radius:8px;
    width:250px;
    height:230px;
    margin-left:500px;
    padding-top:20px;
}
#f{
    text-align: center;
}
.but{
    color: white;
    background-color:blue;
    width:200px;
    height:24px;
    border: none;
    border-radius:8px;
}
.ct{
    border-radius:8px;
    background-color: rgb(81, 243, 81);
}